
:root {
  --first-clr: #5a56e9;
  --first-clr: #fcdd44;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Jotia W00 Regular", serif;

}

#logo {
  width: 200px;
}