.tm-banner {
    margin-top: 8%;
}

/* Banner */
.tm-banner-inner {
    height: auto;
    margin: 100px auto;
    position: absolute;
    display: flex;
    padding: 3.7em;
    justify-content: left;
    text-align: left;
    width: 80%;
    flex-direction: column;
}



.tm-banner-title,
.tm-banner-subtitle {
    color: white;
}

.tm-banner-title {
    font-size: 55px;
    font-weight: 600;
}

.tm-banner-subtitle {
    font-size: 30px;
}


.tm-banner-link {
    background: rgba(252, 221, 68, 0.39) none repeat scroll 0% 0%;
    border: 1px solid #d2b731;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    padding: 18px 40px;
    margin-top: 30px;
    transition: all 0.3s ease;
    border-radius: 30px;
}

.tm-banner-link:hover,
.tm-banner-link:focus {
    background: rgba(252, 221, 68, 1);
    color: #000;
}

@media screen and (min-width: 466px) and (max-width: 601px) {
    .flexslider-banner {
        margin-top: -15px !important;
    }

    #form-row {
        margin-top: -40px !important;
    }

    .tm-banner-inner {
        margin-top: -35px !important;
        width: 100%;

    }

    .tm-banner-title {
        font-size: 25px !important;
    }

    .textarea-div {
        width: 100%;
        margin-left: 10px;
        min-width: 440px;
    }
}

@media screen and (min-width: 767px) and (max-width: 837px) {
    .flexslider-banner {
        margin-top: -15px !important;
    }

    #form-row {
        margin-top: -10px !important;
    }

    .tm-banner-inner {
        margin-top: 8px !important;
        width: 100%;

    }

    .navi-item .navi-link {
        border: transparent !important;
    }

    .tm-banner-title {
        font-size: 35px !important;
    }

    .tm-banner-subtitle {
        font-size: 18px !important;
    }

    .textarea-div {
        width: 50%;
        max-width: 600px;
        margin-left: -1px !important;
        margin-right: 146px;
    }

    #prefered-destination {
        margin-left: 15px !important;

    }


    #tourtextarea {
        width: 40% !important;
        margin-left: 6px !important;
    }
}

@media screen and (max-width: 1199px) {
    .tm-banner {
        margin-top: 7%;
    }

    .tm-banner-title {
        font-size: 50px;
    }

    .tm-banner-subtitle {
        font-size: 30px;
    }

    .tm-home-section-1 {
        top: -50px;
    }

    .tm-home-box-1 {
        width: 300px;
        height: 388px;
    }

    .hotel-search-form .form-group {
        margin-bottom: 18px;
    }

    .tm-home-box-2-description {
        padding: 0.5rem 0.75rem;
    }

    .tm-home-box-i-description {
        padding: 0.5rem 0.75rem;
    }

    .tm-home-box-3 {
        margin-left: auto;
        margin-right: auto;
    }

    .tm-home-box-2-description.box-3 {
        width: 185px;
    }

    .tm-home-box-i-description.box-3 {
        width: 185px;
    }

    .tm-about-box-1 {
        width: 215px;
        padding: 24px 15px;
    }

    .tm-testimonials-box {
        width: 220px;
    }

    .tm-testimonials-content {
        padding: 20px;
    }

    .tm-what-we-do-right {
        width: 100%;
    }

    .tm-about-box-2-img {
        max-width: 280px;
        height: auto;
    }

    .tm-about-box-2-text {
        width: 100%;
        text-align: left;
    }

    .flex-caption {
        padding: 25px;
        max-width: 500px;
    }

    .flexslider.flexslider-about .slides img {
        max-width: 450px;
    }

    .slider-title {
        margin-bottom: 15px;
    }

    .slider-subtitle {
        margin-bottom: 20px;
    }

    .slider-description {
        margin-bottom: 20px;
        line-height: 1.3;
    }

    .tm-contact-box-1 {
        padding: 30px;
    }

    .contact-image {
        max-width: 450px;
    }

    .flexslider.flexslider-about .slides img {
        width: 450px;
    }
}

@media screen and (max-width: 991px) {
    .tm-banner {
        margin-top: 8%;
    }

    .tm-home-box-1 {
        margin-bottom: 50px;
        width: 346px;
        height: 436px;
    }

    .tm-home-box-2 {
        margin: 0 auto 30px;
    }

    .tm-home-box-2-description {
        vertical-align: top;
    }

    .tm-home-box-2-description.box-3 {
        width: 175px;
    }

    .tm-home-box-i {
        margin: 0 auto 30px;
    }

    .tm-home-box-i-description {
        vertical-align: top;
    }

    .tm-home-box-i-description.box-3 {
        width: 175px;
    }


    .hotel-search-form .form-group {
        margin-bottom: 30px;
    }

    .home-description {
        margin: 40px auto 40px;
    }

    .tm-tours-box-1-link-left {
        width: 65%;
    }

    .tm-tours-box-1-link-right {
        width: 35%;
    }

    .tm-tours-box-2 {
        margin: 0 auto 30px;
    }


    .article-card {
        margin: 0 auto 30px;
    }

    .article-card1 {
        margin: 0 auto 30px;
    }

    .tm-about-box-1 {
        margin: 0 auto 30px;
        width: 100%;
    }

    .tm-what-we-do-right {
        float: none;

        max-width: 100%;
    }

    .tm-about-box-2-img {
        max-width: 100%;
    }

    .tm-about-box-2-text {
        width: 100%;
    }

    .tm-testimonials-box {
        max-width: 340px;
        width: 100%;
        margin: 30px auto 0;
        float: none;
        height: auto;
    }

    .flexslider.flexslider-about,
    .flexslider.flexslider-about .slides img,
    .flex-caption {
        max-width: 528px;
        width: 100%;
    }

    .flexslider .slides img,
    .flex-caption {
        width: 100%;
    }

    .contact-text {
        margin-left: 0;
        margin-top: 50px;
        max-width: 100%;
    }

    .tm-contact-form-input {
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .tm-banner {
        margin-top: 8%;
    }

    /* http://www.impressivewebs.com/animate-display-block-none/
       * Comment by Jon Christensen
       */
    .tm-nav.show {
        opacity: 1;
        height: auto;
        transition: opacity 1s, height 0;
    }

    .tm-nav {
        opacity: 0;
        transition: opacity 1s, height 0 1s;
        height: 0;
        position: fixed;
        z-index: 1000;
        top: 69px;
        right: 5px;
        background: rgba(15, 15, 15, 0.7);
        transition: all 0.3s ease;
    }

    .tm-nav li {
        float: none;
    }

    .tm-nav li a {
        color: white;
        display: block;
        padding: 20px 30px 20px;
    }

    /* mobile menu icon */
    .mobile-menu-icon {
        cursor: pointer;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 15px;
        right: 15px;
        background-color: transparent !important;
        z-index: 1000;
        display: flex;
    }

    .mobile-menu-icon-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* mobile menu icon stick */
    .mobile-menu-icon .stick {
        position: absolute;
        width: 30px;
        height: 3px;
        background: white;
        transition: ease-in-out 0.1s;
    }

    .mobile-menu-icon .stick-1 {
        transform: translate(0, -10px);
        transition-delay: 0.1s;
    }

    .mobile-menu-icon .stick-4 {
        transform: translate(0, 10px);
        transition-delay: 0.1s;
    }

    .mobile-menu-icon.show .stick-1 {
        transform: translate(0, 0);
        opacity: 0;
        transition-delay: 0s;
    }

    .mobile-menu-icon.show .stick-4 {
        transform: translate(0, 0);
        opacity: 0;
        transition-delay: 0s;
    }

    .mobile-menu-icon.show .stick-2 {
        transform: rotate(-45deg);
        transition-delay: 0.1s;
    }

    .mobile-menu-icon.show .stick-3 {
        transform: rotate(45deg);
        transition-delay: 0.1s;
    }

    /* .- { height: 400px;	} */
    .tm-banner-title {
        font-size: 40px;
    }

    .tm-banner-subtitle {
        font-size: 24px;
    }

    .tm-banner-inner {
        top: 0;
        margin: 60px auto;
    }

    .tm-banner-link {
        padding: 12px 30px;
        margin-top: 10px;
    }

    /* 	.tm-banner, .flexslider.flexslider-banner .slides img { height: 500px; } */
    .tm-home-box-1 {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    .tm-home-box-1-2 {
        height: auto;
    }

    .tm-tours-box-1 {
        margin-left: auto;
        margin-right: auto;
    }

    .tm-what-we-do-right {
        text-align: center;
    }

    .section-margin-top.about-section {
        margin-top: 120px;
    }

    .tm-section-header {
        margin-bottom: 40px;
    }

    .tm-about-box-1 {
        width: 100%;
        max-width: 300px;
        padding: 30px;
    }



    .tm-about-box-2-text {
        margin: 30px auto;
    }
}

@media screen and (max-width: 600px) {
    .tm-banner {
        margin-top: 18%;
    }

    .col-xxs-12 {
        width: 100%;
    }

    .section-margin-top {
        margin-top: 50px;
    }

    .tm-banner-title {
        font-size: 30px;
    }

    .tm-banner-subtitle {
        font-size: 16px;
    }

    .tm-banner-link {
        padding: 10px 25px;
    }

    .tm-home-section-1 {
        top: 0;
    }

    .tm-home-box-3-img-container,
    .tm-home-box-3-info {
        float: none;
    }

    .tm-home-box-3-info {
        max-width: 250px;
        border: 1px solid #ccc;
        border-top: none;
    }

    .tm-home-box-3-description {
        padding-top: 30px;
        padding-bottom: 34px;
    }

    .tm-home-box-3 {
        max-width: 250px;
    }

    .tm-home-box-2-description.box-3 {
        width: 120px;
    }

    .tm-home-box-i-description.box-3 {
        width: 120px;
    }
}

@media screen and (max-width: 420px) {
    .tm-banner {
        margin-top: 18%;
    }

    .tm-banner-title {
        font-size: 20px;
    }

    .tm-banner-subtitle {
        font-size: 12px;
    }

    .tm-banner-link {
        padding: 5px 10px;
    }

    .tm-tours-box-1-info-left,
    .tm-tours-box-1-info-right {
        float: none;
        width: 100%;
    }

    .tm-tours-box-1-info-left {
        border-right: none;
        border-bottom: 1px solid #b1b1b1;
        padding-right: 0;
        padding-bottom: 30px;
    }

    .tm-tours-box-1-info-right {
        padding-left: 0;
        padding-top: 30px;
    }

    .tm-tours-box-1-link-left,
    .tm-tours-box-1-link-right {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .tm-banner {
        margin-top: 20%;
    }

    .tm-section-title {
        font-size: 28px;
    }
}


.tm-banner-link {
    transition: transform 0.04s;
}

.tm-banner-link:hover {
    transform: scale(1.07);
}




.tm-banner {
    margin-top: 2%;
}

/* Banner */
.tm-banner-inner {
    height: auto;
    margin: 100px auto;
    position: absolute;
    display: flex;
    padding: 3.7em;
    justify-content: left;
    text-align: left;
    width: 80%;
    flex-direction: column;
}



.tm-banner-title,
.tm-banner-subtitle {
    color: white;
}

.tm-banner-title {
    font-size: 55px;
    font-weight: 600;
}

.tm-banner-subtitle {
    font-size: 30px;
}

.tm-yellow-text {
    color: #FFA700;
}

.tm-banner-link {
    background: rgba(252, 221, 68, 0.39) none repeat scroll 0% 0%;
    border: 1px solid #d2b731;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    padding: 18px 40px;
    margin-top: 30px;
    transition: all 0.3s ease;
    border-radius: 30px;
}

.tm-banner-link:hover,
.tm-banner-link:focus {
    background: rgba(252, 221, 68, 1);
    color: #000;
}

@media screen and (max-width: 1199px) {
    .tm-banner {
        margin-top: 7%;
    }

    .tm-banner-title {
        font-size: 50px;
    }

    .tm-banner-subtitle {
        font-size: 30px;
    }

    .tm-home-section-1 {
        top: -50px;
    }

    .tm-home-box-1 {
        width: 300px;
        height: 388px;
    }

    .hotel-search-form .form-group {
        margin-bottom: 18px;
    }

    .tm-home-box-2-description,
    .tm-home-box-i-description {
        padding: 0.5rem 0.75rem;
    }

    .tm-home-box-3 {
        margin-left: auto;
        margin-right: auto;
    }

    .tm-home-box-2-description.box-3,
    .tm-home-box-i-description.box-3 {
        width: 185px;
    }

    .tm-about-box-1 {
        width: 215px;
        padding: 24px 15px;
    }

    .tm-testimonials-box {
        width: 220px;
    }

    .tm-testimonials-content {
        padding: 20px;
    }

    .tm-what-we-do-right {
        width: 100%;
    }

    .tm-about-box-2-img {
        max-width: 280px;
        height: auto;
    }

    .tm-about-box-2-text {
        width: 100%;
    }

    .flex-caption {
        padding: 25px;
        max-width: 500px;
    }

    .flexslider.flexslider-about .slides img {
        max-width: 450px;
    }

    .slider-title {
        margin-bottom: 15px;
    }

    .slider-subtitle {
        margin-bottom: 20px;
    }

    .slider-description {
        margin-bottom: 20px;
        line-height: 1.3;
    }

    .tm-contact-box-1 {
        padding: 30px;
    }

    .contact-image {
        max-width: 450px;
    }

    .contact-text {
        max-width: 400px;
    }

    .flexslider.flexslider-about .slides img {
        width: 450px;
    }

    .tm-nav.show {
        opacity: 1;
        height: auto;
        transition: opacity 1s, height 0;
    }

    .tm-nav {
        opacity: 0;
        transition: opacity 1s, height 0 1s;
        height: 0;
        position: fixed;
        z-index: 1000;
        top: 69px;
        right: 15px;
        background: rgba(15, 15, 15, 0.7);
        transition: all 0.3s ease;
    }

    .tm-nav li {
        float: none;
    }

    .tm-nav li a {
        color: white;
        display: block;
        padding: 20px 30px 20px;
    }


    /* mobile menu icon */
    .mobile-menu-icon {
        cursor: pointer;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 15px;
        right: 15px;
        background-color: rgba(15, 15, 15, 0.7);
        z-index: 1000;
        display: flex;
    }

    .mobile-menu-icon-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* mobile menu icon stick */
    .mobile-menu-icon .stick {
        position: absolute;
        width: 30px;
        height: 3px;
        background: white;
        transition: ease-in-out 0.1s;
    }

    .mobile-menu-icon .stick-1 {
        transform: translate(0, -10px);
        transition-delay: 0.1s;
    }

    .mobile-menu-icon .stick-4 {
        transform: translate(0, 10px);
        transition-delay: 0.1s;
    }

    .mobile-menu-icon.show .stick-1 {
        transform: translate(0, 0);
        opacity: 0;
        transition-delay: 0s;
    }

    .mobile-menu-icon.show .stick-4 {
        transform: translate(0, 0);
        opacity: 0;
        transition-delay: 0s;
    }

    .mobile-menu-icon.show .stick-2 {
        transform: rotate(-45deg);
        transition-delay: 0.1s;
    }

    .mobile-menu-icon.show .stick-3 {
        transform: rotate(45deg);
        transition-delay: 0.1s;
    }
}

@media screen and (max-width: 991px) {
    .tm-banner {
        margin-top: 8%;
    }

    .tm-home-box-1 {
        margin-bottom: 50px;
        width: 346px;
        height: 436px;
    }

    .tm-home-box-2 {
        margin: 0 auto 30px;
    }

    .tm-home-box-2-description {
        vertical-align: top;
    }

    .tm-home-box-2-description.box-3 {
        width: 175px;
    }



    .tm-home-box-i {
        margin: 0 auto 30px;
    }

    .tm-home-box-i-description {
        vertical-align: top;
    }

    .tm-home-box-i-description.box-3 {
        width: 175px;
    }

    .hotel-search-form .form-group {
        margin-top: 3px;
    }

    .home-description {
        margin: 40px auto 40px;
    }

    .tm-tours-box-1-link-left {
        width: 65%;
    }

    .tm-tours-box-1-link-right {
        width: 35%;
    }

    .tm-tours-box-2 {
        margin: 0 auto 30px;
    }

    .article-card {
        margin: 0 auto 30px;
    }

    .article-card1 {
        margin: 0 auto 30px;
    }

    .tm-about-box-1 {
        margin: 0 auto 30px;
        width: 100%;
    }

    .tm-what-we-do-right {
        width: 100%;
    }

    .tm-about-box-2-img {
        max-width: 100%;
    }

    .tm-about-box-2-text {
        width: 100%;
        text-align: left;
    }

    .tm-testimonials-box {
        max-width: 340px;
        width: 100%;
        margin: 30px auto 0;
        float: none;
        height: auto;
    }

    .flexslider.flexslider-about,
    .flexslider.flexslider-about .slides img,
    .flex-caption {
        max-width: 528px;
        width: 100%;
    }

    .flexslider .slides img,
    .flex-caption {
        width: 100%;
    }

    .contact-text {
        margin-left: 0;
        margin-top: 50px;
        max-width: 100%;
    }

    .tm-contact-form-input {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .tm-banner {
        margin-top: 8%;
    }

    /* http://www.impressivewebs.com/animate-display-block-none/
       * Comment by Jon Christensen
       */
    .tm-nav.show {
        opacity: 1;
        height: auto;
        transition: opacity 1s, height 0;
    }

    .tm-nav {
        opacity: 0;
        transition: opacity 1s, height 0 1s;
        height: 0;
        position: fixed;
        z-index: 1000;
        top: 69px;
        right: 15px;
        background: rgba(15, 15, 15, 0.7);
        transition: all 0.3s ease;
    }

    .tm-nav li {
        float: none;
    }

    .tm-nav li a {
        color: white;
        display: block;
        padding: 20px 30px 20px;
    }

    /* mobile menu icon */
    .mobile-menu-icon {
        cursor: pointer;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 15px;
        right: 15px;
        background-color: rgba(15, 15, 15, 0.7);
        z-index: 1000;
        display: flex;
    }

    .mobile-menu-icon-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* mobile menu icon stick */
    .mobile-menu-icon .stick {
        position: absolute;
        width: 30px;
        height: 3px;
        background: white;
        transition: ease-in-out 0.1s;
    }

    .mobile-menu-icon .stick-1 {
        transform: translate(0, -10px);
        transition-delay: 0.1s;
    }

    .mobile-menu-icon .stick-4 {
        transform: translate(0, 10px);
        transition-delay: 0.1s;
    }

    .mobile-menu-icon.show .stick-1 {
        transform: translate(0, 0);
        opacity: 0;
        transition-delay: 0s;
    }

    .mobile-menu-icon.show .stick-4 {
        transform: translate(0, 0);
        opacity: 0;
        transition-delay: 0s;
    }

    .mobile-menu-icon.show .stick-2 {
        transform: rotate(-45deg);
        transition-delay: 0.1s;
    }

    .mobile-menu-icon.show .stick-3 {
        transform: rotate(45deg);
        transition-delay: 0.1s;
    }

    /* .- { height: 400px;	} */
    .tm-banner-title {
        font-size: 40px;
    }

    .tm-banner-subtitle {
        font-size: 24px;
    }

    .tm-banner-inner {
        top: 0;
        margin: 60px auto;
    }

    .tm-banner-link {
        padding: 12px 30px;
        margin-top: 10px;
    }

    /* 	.tm-banner, .flexslider.flexslider-banner .slides img { height: 500px; } */
    .tm-home-box-1 {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    .tm-home-box-1-2 {
        height: auto;
    }

    .tm-tours-box-1 {
        margin-left: auto;
        margin-right: auto;
    }

    .tm-what-we-do-right {
        text-align: center;
    }

    .section-margin-top.about-section {
        margin-top: 120px;
    }

    .tm-section-header {
        margin-bottom: 40px;
    }

    .tm-about-box-1 {
        width: 100%;
        max-width: 300px;
        padding: 30px;
    }

    .tm-about-box-2-img,
    .tm-about-box-2-text {
        float: none;
    }

    .tm-about-box-2-text {
        margin: 30px auto;
    }
}

@media screen and (max-width: 600px) {
    .tm-banner {
        margin-top: 18%;
    }

    .col-xxs-12 {
        width: 100%;
    }

    .section-margin-top {
        margin-top: 50px;
    }

    .tm-banner-title {
        font-size: 30px;
    }

    .tm-banner-subtitle {
        font-size: 16px;
    }

    .tm-banner-link {
        padding: 10px 25px;
    }

    .tm-home-section-1 {
        top: 0;
    }

    .tm-home-box-3-img-container,
    .tm-home-box-3-info {
        float: none;
    }

    .tm-home-box-3-info {
        max-width: 250px;
        border: 1px solid #ccc;
        border-top: none;
    }

    .tm-home-box-3-description {
        padding-top: 30px;
        padding-bottom: 34px;
    }

    .tm-home-box-3 {
        max-width: 250px;
    }

    .tm-home-box-2-description.box-3 {
        width: 120px;
    }

    .tm-home-box-i-description.box-3 {
        width: 120px;
    }
}

@media screen and (max-width: 420px) {
    .tm-banner {
        margin-top: 18%;
    }

    .tm-banner-title {
        font-size: 20px;
    }

    .tm-banner-subtitle {
        font-size: 12px;
    }

    .tm-banner-link {
        padding: 5px 10px;
    }

    .tm-tours-box-1-info-left,
    .tm-tours-box-1-info-right {
        float: none;
        width: 100%;
    }

    .tm-tours-box-1-info-left {
        border-right: none;
        border-bottom: 1px solid #b1b1b1;
        padding-right: 0;
        padding-bottom: 30px;
    }

    .tm-tours-box-1-info-right {
        padding-left: 0;
        padding-top: 30px;
    }

    .tm-tours-box-1-link-left,
    .tm-tours-box-1-link-right {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .tm-banner {
        margin-top: 20%;
    }

    .tm-section-title {
        font-size: 28px;
    }
}

.tm-banner-link {
    transition: transform 0.04s;
}

.tm-banner-link:hover {
    transform: scale(1.07);
}

@media screen and (max-width: 1024px) {
    .tm-banner-title {
        font-size: 40px;
    }

    .tm-banner-inner {
        margin: 60px auto;
    }
}

@media screen and (max-width: 464px) {
    .tm-banner-inner {
        margin: -10px auto !important;
        width: 100% !important;
    }

    .tm-banner-title {
        font-size: 22px !important;
    }

    #more {
        margin-top: -20px
    }

    .trip-type-container {
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 100px;
        padding: 0 0 6px 6px !important;
        margin-top: -30px;
    }

    .trip-type-container label {
        font-size: 10px;
    }

    .trip-type-option input {
        margin: 0 auto;
        width: 10px;
    }

    .form {
        width: 100%;
        min-width: 250px !important;
        margin: 0 auto !important;
    }
}



@media screen and (max-width: 376px) {
    .tm-banner-inner {
        margin-top: -35px !important;
    }
}


.flexslider.flexslider-banner {
    max-width: 100%;
    height: 100%;
    z-index: 0;
}

.flexslider.flexslider-banner .slides>li {
    text-align: center;
}

.flexslider.flexslider-banner .flex-direction-nav a:before {
    color: #FFA700;
}

.flexslider.flexslider-banner .slides img {
    display: block;
    width: 100%;
  }